<div class="container">
  <%= render @post %>
  <%= link_to "Back to posts", posts_path, class: "btn btn-secondary my-3"%>
  <div>
  <% if current_user and current_user.role == 'admin' %>
      <h4>Admin Actions</h4>
    <%= link_to "Edit this post", edit_post_path(@post), class:"btn btn-info" %>
    <%= link_to "Generate PDF",post_path(@post,format: :pdf),class:"btn btn-warning"%>
    <%= button_to "Delete", @post, method: :delete, class: "btn btn-danger my-3" %>
  <% end %>
  </div>
  <div>
  <% if current_user %>
    <%= render 'comments/form',post: @post %>
  <% else %>
    <h5>If you want comment this post, you must be logged in</h5>
  <% end %>
  <% if @comments.count == 0 %>
    <p>Not comments yet</p>
  <%else%>
    <p class="my-2">Comments: <%= @comments.count %></p>
    <% @comments.each do |comment| %>
      <%= render 'comments/comment', post: @post, comment: comment %>
    <% end %>
  <% end %>
  </div>
</div>
